  .jobs2 {
    margin-left: 22%;
    margin-top: -55%;
  }

  .rightArrow {
  	position: relative;
  	top: 5px;
  	color: #0059b3;
  }

  .material-icons.content_paste {
  	position: relative;
  	top: 5px;
  	font-size: 36px;
  }